<div class="mt-2">
    <h2 class="border-bottom">Mi Carrito</h2>
    <ul class="list-group list-group-flush">
        <li *ngFor="let product of cartList$ | async" class="list-group-item d-flex">
            <div style="width: 10rem;">
                <img class="card-img-top" [src]="product.image" alt="Card image cap">
            </div>
            <div class="ml-2 w-100">
                <div class="d-flex">
                    <h5 class="flex-grow-1">{{product.name}}</h5>
                    <span>{{product.price * product.quantity | currency}}</span>
                </div>
                <p>{{product.type}}</p>
                <p>{{product.price | currency}}</p>
                <span class="border border-rounded p-1">Cantidad: {{product.quantity}}</span>
            </div>
            <div class="d-flex align-items-center">
                <button (click)="removeToCart(product)" class="btn btn-outline-danger ml-2"><i class="far fa-trash-alt"></i></button>
            </div>
        </li>
    </ul>
    <div class="mt-2 p-2 border-top" *ngIf="totalProd$">
        <h6 class="text-right">Subtotal: {{subtotalCart$ | currency}}</h6>
    </div>
    <div *ngIf="totalProd$ == 0" class="text-center mt-2">
        <p class="h6">El carrito esta vacio</p>
        <a [routerLink]="['/']">Seguir comprando</a>
    </div>
</div>
