<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td>{{product.name}}</td>
            <td>{{product.price | currency}}</td>
            <td>
                <span class="badge badge-danger" *ngIf="product.stock == 0">Sin stock</span>
            </td>
            <td>
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>